<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <script src="/js/cartActions.js" defer></script>
</head>
<body>
    <h1>Productos</h1>
    <div>
        {{#each products}}
            <div>
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
                <a href="/products/{{this.id}}">Ver detalles</a>
                <button onclick="addToCart('{{this.id}}')">Agregar al carrito</button>
            </div>
        {{/each}}
    </div>

    <div>
        {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">Página anterior</a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">Página siguiente</a>
        {{/if}}
    </div>
</body>
</html>

